.recipe{
    background: white;
    border: 1px solid #eaeaea;
    padding: 2em 4em;
    width: 30%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;

    a{
        text-align: center;
        text-decoration: none;
        color: darkorchid;
    }
    &__image{
        justify-self: center;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 900px){
    .recipe{
        width: 50%;
    
        &__image{
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 480px){
    .recipe{
        width: 80%;
    
        &__image{
            width: 100%;
            height: auto;
        }
    }
}